<launch>
 <node pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera">
   <param name="width" type="int" value="320" />
   <param name="height" type="int" value="240" />
   <param name="fps" type="int" value="10" />
   <param name="device" type="string" value="/dev/video0" />
 </node>
 <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
   <param name="port" value="/dev/ttyAMA0"/>
   <param name="baud" value="57600"/>
 </node>
 <node pkg="miya_rosmarica2" name="miya_rosmarica2" type="miya_rosmarica2"/>
</launch>
