<launch>
 <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
   <param name="port" value="/dev/ttyAMA0"/>
   <param name="baud" value="57600"/>
 </node>
 <node pkg="odm_cal" name="odm_cal" type="odm_cal" output = "screen"/>
 <node pkg="runtest" name="runtest" type="runtest" output = "screen"/>
</launch>
